.mainbody {
    width: fit-content;
    height: fit-content;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.cell {
    width: 28px;
    height: 28px;
    background-color: rgb(176, 176, 176);
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0px;
    border: solid;
    border-width: 1.5px;
    border-left-color: white;
    border-top-color: white;
    border-bottom-color: rgb(80, 80, 80);
    border-right-color: rgb(80, 80, 80);
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
}

.cell:hover {
    background-color: rgb(196, 196, 196);
}

.row {
    padding: 0px;
    line-height: 0px;
    position: sticky;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

#canvas {
    align-self: center;
    border-width: fit-content;
    min-width: 265px;
    width: fit-content;
    border: solid;
    border-right-color: rgb(56, 56, 56);
    border-bottom-color: rgb(56, 56, 56);
    border-left-color: rgb(56, 56, 56);
    padding: 3px;
    background-color: rgb(56, 56, 56);
    overflow: hidden;
    white-space: nowrap;
}

/* NAV BAR FORMATTING */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    min-height: 45px;
    height: max-content;
    display: flex;
  }

  /* Style the links inside the navigation bar */
  .topnav a, .topnav button {
    float: left;
    margin: auto;
    height: 80%;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 17px;
    font-family: 'digital-7', sans-serif;
    height: max-content;
    width: fit-content;
  }

/* Style the links inside the navigation bar */
.bottomnav a {
    float: left;
    margin: auto;
    height: 80%;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 17px;
    font-family: 'digital-7', sans-serif;
    height: max-content;
    width: fit-content;
}

.bottomCanvas {
    display: flex;
    min-height: 45px;
    background-color: #333;
    vertical-align: middle;
    text-align: center;

}

.bottomnav {
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    height: max-content;
    width: 90%;
    max-width: 280px;
    display: flex;
    background-color: rgb(14, 123, 0);
    border-color: rgb(1, 255, 1);
    border-width: 2px;
    align-self: center;
    border-radius: 2px;
    margin: auto;
}

  #difficulty-select {
    background-color: rgb(245, 245, 245);
    font-family: 'digital-7', sans-serif;
    color: #333;
    height: 25px;
    border-radius: 5px;
    border: #333;
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
  }

#restart {
    background-color: rgb(202, 0, 0);
    border-radius: 5px;
    border: #333;
    height: 25px;
    border-width: 1px;
    font-size: 18px;
}

#restart:hover {
    background-color: rgb(255, 0, 0);
}

@font-face{
    font-family: digital-clock-font;
    src: url('digital-7.mono.ttf');
}

#timer {
    vertical-align: middle;
    background-color: black;
    color: red;
    border-radius: 5px;
    min-width: px;
    height: 25px;
    text-align: right;
    border-width: 1px;
    margin: auto;
    padding-top: 2px;
    font-family: digital-clock-font;
    font-size: 25px;
}
